<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
</head>

<body>

    <h1> This is home page rendered by templates.</h1>
    <p>below data is send from views.py and in that from models.py.
        So basically you will see here the data from Database.

    </p>
    <h2>List of item strored in the dataBase:</h2>
    <p> <- By using DTL for loop-></p>

    {% for item in itemList %}
    <ul>
        <li>
            <!-- EX: <a href="/food/id">{{ item.id }} -- {{ item.item_name }}</a> When we click, id of respective item will be passsed in the link url.-->
            <a href="/food/{{ item.id }}">{{ item.id }} -- {{ item.item_name }}</a>
            <!--  we're accessing them by their id and their name. -->
        </li>
    </ul>

    {% endfor %}

    {{first_name}} <br>
    {{last_name}}

</body>

</html>