{% extends "./base.html" %}


{% block BasicHomePage %}

<h1> This is home page rendered by templates.</h1>
<p>below data is send from views.py and in that from models.py.
    So basically you will see here the data from Database.

</p>
<h2>List of item strored in the dataBase:</h2>
<p> <- By using DTL for loop-></p>
{% endblock BasicHomePage %}

{% block itemList %}

{% for item in itemList %}
<ul>
    <li class="nav-link">
        <!-- EX: <a href="/food/id">{{ item.id }} -- {{ item.item_name }}</a> When we click, id of respective item will be passsed in the link url.-->
        <!-- <a href="/food/{{ item.id }}">{{ item.id }} -- {{ item.item_name }}</a> -->
        <a href="{% url 'food:detail' item.id %}"> {{ item.id }} -- {{ item.item_name }} </a>
        <!--  we're accessing them by their id and their name. -->
        <!-- /food/{{ item.id }} === 'detail' item.id  NOW this whole become Dynamic url
            HERE 'detail' is the NAME of url presnent in food app urls.py detail-->
    </li>
</ul>
<!-- /food/{{ item.id }} :{{ item.id }}  is dynamic But whole is called hardcoded URL-->
{% endfor %}

{% endblock itemList %}


{% block fnameLname %}

{{first_name}} <br>
{{last_name}}
{% endblock fnameLname %}